.skills-container{
    flex: 1 1 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    // background-color: darkmagenta;

    .skills-content-container{
        margin-left: 5rem;
        flex: 1;
        .contents-container{
            display: flex;
            flex-direction: column;
            .about-contents{
                padding: 1vh 0;
            }
        }
    }
    .skill-canvas-container{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: red;
    }
}