.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: $width_nav;
    background-color: $color5;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    .logo-container{
        pointer-events: visibleFill;
        position: relative;
        height: 3.5rem;
        width: 3rem;
        display: flex;
        // background-color: wheat;
        .r-logo{
            // background-color: black;
            font-size: 3rem;
            position: absolute;
        }
        #R-1{
            transform: translate(.8rem,.5rem);
            color: black;
        }
        #R-2{
            transform: translate(.4rem,.5rem);
            color: $color6;
        }
    }
    .dev{
        // background-color: red;
        color: $color6;
        font-size: 1.5rem;
    }
}