.about-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: $color2;
    display: flex;
    width: 100%;
    align-items: center;
    // background-color: white;
    font-size: 2rem;
    font-weight: 900;
    font-family: $fontAlegreya;

    .about-content-container{
        padding-left: 3rem;
        // background-color: red;
        width: 55vw;
    }
    .about-title-container{

        .about-title{
            font-size: 5rem;
            font-weight: 900;
            display: inline-block;
        }
    }
    .contents-container{
        font-size: 1rem;
    }
    .line-rev{
        overflow: hidden;
        height: max-content;
    }
    .line{
        display: inline-block;        
    }
    .globe-container{
        height: 100%;
        // background-color: red;
        flex-grow: 1;
        flex-shrink: 0;
    }
}