.about-container{
    flex: 1  1 auto;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: $color2;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    font-family: $fontAlegreya;
    // background-color: white;

    .about-content-container{
        padding-left: 5rem;
        height: 100vh !important;
        display: flex;
        flex-direction: column;
        // background-color: pink;
        justify-content: center;
        align-items: flex-start;

        .about-contents{
        }
    }
    .globe-container{
        flex: 1;
        height: 75vh;
    }

    .title{
        display: flex;
    }
    .line-rev{
        overflow: hidden;
        height: max-content;
    }
    .line{
        display: inline-block;        
    }
}