body{
    cursor: none;
}
.cursor-large {
    // pointer-events: none;
    // width: $cursor-large;
    // height: $cursor-large;
    // border-radius: 50%;
	// position: absolute;
	// left: 0;
	// top: 0;
	// pointer-events: none !important;
	// z-index: 200;
    // transform: translate($cursor-large, $cursor-large);
    border: 3px solid $color2;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    width: $cursor-large;
    height: $cursor-large;
    border-radius: 50%;
    // background-color: $color7;
    z-index: 999;
    pointer-events: none;
    mix-blend-mode: difference;
}

.cursor-small {
    // mix-blend-mode: difference;
    pointer-events: none;
    z-index: 200;
    pointer-events: none !important;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: cyan;
    position: fixed;
}

nav:hover + .cursor-large {
    border: red;
    background-color: red !important;
}