.wrapper{
    // background-color: red;
    width: max-content;
    overflow: hidden;
}

.__title{
    color: $color2;
    font-size: 3.5rem;
    font-weight: 900;
    font-style: italic;
    font-family: $fontAlegreya !important;
}

.__content{
    color: $color2;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: $fontTitilium!important;
}

.page_container{
    box-sizing: content-box; 
    flex: 1;
    // background-color: red;
}

.text-reveal{
    font-size: .9em;
    // color: red;
    margin-bottom: .3em;
}