$color1 : #08091D;
$color2 : #28BFE5;
$color3 : #4f5f80;
$color4 : #3B5F96;
$color5 : #213459;
$color6 : #6FFFE9;
$color7 : #378CFF;
$color8 : #33D6FF;


$width_nav:5rem;


@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alegreya:ital@0;1&family=Amaranth:ital@0;1&family=Open+Sans&family=Titillium+Web:ital@0;1&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Bebas+Neue&display=swap');

// Font Variables
// Some Font
// font-family: 'Quantico', sans-serif;
// font-family: 'Signika', sans-serif;
// font-family: 'Source Code Pro', monospace;
$fontQuantico : 'Quantico', sans-serif;
$fontSiginika : 'Signika', sans-serif;
$fontCode : 'Source Code Pro', monospace;
$fontAbel: 'Abel', sans-serif;
$fontAlegreya: 'Alegreya', serif;
$fontAmaranth: 'Amaranth', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;
$fontTitilium: 'Titillium Web', sans-serif;
$fontUbuntu: 'Ubuntu', sans-serif;
$fontAmarante: 'Amarante', cursive;
$fontBebas: 'Bebas Neue', cursive;



// Size 
$cursor-large : 5rem;
$cursor-small : 1rem;
